@use '../base/mixins';

.apartments {

}

.apartments__title{
margin-bottom: 88px;
text-align: center;

@include mixins.mediaTablet{
    margin-bottom: 44px;
}

}


//PROBLEM HERE!
.apartments__cards{
justify-content: center;
display: grid;
grid-template-columns: repeat(2, 300px) ;
// grid-template-columns: repeat(auto-fit, 1fr);
// grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
// column-gap: 40px;
// row-gap: 1em;
gap: 30px;

@include mixins.mediaTablet{
    grid-template-columns:repeat(auto-fit, minmax(290px, 1fr));
}

}
